/* Vincent Nguyen */
/* Sept 2018 - Jan 2019 */
/* https://vncegd.github.io/vincent/main.css */

/* MARGINS */
html, body, .nav, .jumbo, .about, .portfolio, .resume, .container, .footer {
    margin: 0;
}
.modal-content {
    margin: auto;
}
/* PADDING */
.nav a {
    padding: 1em;
}
.nav-right a {
    padding: 0;
}
.jumbo, .about, .portfolio, .resume {
    padding: 2em 4em;
}
.footer {
    padding: 0.5em 1em;
}
.container {
    padding: 0;
    top: 0;
}
.container button {
    padding: 0.05em 0.1em;
}
.middle-link {
    bottom: 0;
}
.about-content, .portfolio-content, .resume-content {
    padding: 1em;
}
.modal-content {
    padding: 1em;
}
.modal-x {
    padding: 0 .5rem;
}
/* POSITIONING */
.nav {
    position: fixed;
    z-index: 10;
}
.jumbo {
    top: 0;
}
.jumbo .container {
    top: 10em;
}
.jumbo .middle-link {
    bottom: 5em;
}
.middle-link {
    position: absolute;
}
.container {
    position: relative;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}
.modal-content {
    position: relative;
    top: 3em;
    z-index: 6;
}
.modal-x {
    position: absolute;
    top: 1rem;
    right: 1rem;
}
/* SIZING, DISPLAY */
html, body {
    width: 100%;
    height: 100%;
}
.dropdown-content {
    display: none;
}
.nav {
    width: 100%;
}
.jumbo, .about, .portfolio, .resume {
    height: 34em;
}
.container {
    height: 100%;
}
.right {
    width: 1%;
}
.about-content, .portfolio-content, .resume-content, .modal {
    height: 24em;
    overflow-y: scroll;
}
.about-content::-webkit-scrollbar, .portfolio-content::-webkit-scrollbar {
    display: none;
}
.middle-link {
    width: 100%;
}
.modal {
    display: none;
    width: 100%;
    height: 100%;
}
.modal-content {
    width: 80%;
    overflow-x: scroll;
}
.chevron {
    width: 1em;
}
/* BACKGROUND */
.nav  {
    background-color: #0D47A1;
    opacity: .8;
}
.nav a {
    background-color: #1565C0;
}
.container button {
    background-color: #E3F2FD;
}
.jumbo {
    background-color: #E3F2FD;
    background-repeat: no-repeat;
    background-size: cover;
}
.about {
    background-color: #BBDEFB;
}
.portfolio {
    background-color: #E3F2FD;
}
.resume {
    background-color: #BBDEFB;
}
.odd-row {
    background-color: #eee;
}
.about-content, .portfolio-content, .resume-content {
    background-color: #FFF;
}
.footer {
    background-color: #1976D2;
}
.modal {
    background-color: #0005;
}
.modal-content {
    background-color: #FFF;
}
/* PLAIN TEXT */
html, body {
    font-family: 'Lato', sans-serif;
}
.nav {
    color: #FFF;
    font-size: 1rem;
}
.right {
    text-align: right;
}
.resume h4 {
    margin: 0;
}
.footer {
    color: #FFF;
}
/* LINK TEXT */
a {
    text-decoration: none;
}
.nav a {
    color: #FFF;
}
.container a, .modal a {
    color: #2962FF;
    text-align: center;
}
.container button {
    border: 1px solid #E3F2FD;
    font-size: 1rem;
    transition: .2s;
}
.middle-link {
    color: #1976D2;
    font-size: 2rem;
    text-align: center;
    transition: .2s;
}
.modal-x {
    font-size: 2rem;
}
.footer a {
    color: #E3F2FD;
}
/* HOVER AND FOCUS */
a:hover {
    cursor: pointer;
}
.nav:hover, .nav:focus {
    opacity: 1;
}
.nav a:hover, .nav a:focus {
    background-color: #1976D2;
    transition: .1s;
}
.container button:hover, .container button:focus {
    background-color: #FFF;
    border-bottom: 1px solid #448AFF;
    transition: .1s;
}
.container a:hover, .container a:focus, .modal-a:hover {
    color: #448AFF;
    border-bottom: 1px solid #448AFF;
}
.middle-link:hover, .middle-link:focus {
    text-shadow: 0 0 1rem #FFF;
    background-color: #BBDEFB;
    background-color: #FFFFFF70;
    transition: .1s;
}
.modal-x:hover {
    background-color: #DDD;
    transition: .1s;
}
.footer a:hover {
    color: #FFF;
    border-bottom: 1px solid #FFF;
}
/* ACTIVE */
.nav a:active {
    box-shadow: 0 0 1rem 0 #0D47A1 inset;
}
.container button:active {
    box-shadow: 0 0 1rem 0 #DDD inset;
    border-color: #E3F2FD;
    outline: none;
}
/* FOCUS OUTLINE */
button:focus, a:focus {
    outline-style: none;
}
/* TABLES */
table {
    width: 100%;
    padding: 1%;
}
th {
    width: 32%;
}
td { 
    height: 100%;
    width: 16%;
}
.left-col {
    width: 60%;
    text-align: left;
}
.right-col {
    width: 40%;
    text-align: right;
}
.third-col {
    width: 30%;
    text-align: left;
}